{% extends 'base.html' %}
{% load static %}

{% block title %}
    DentistHub Offices Page
{% endblock %}

{% block content %}
    <div class="wall-picture-container">
        <div class="main-dentistsoffice-list-container">
        <h1>Our dentistsoffices</h1>
        <a href="{% url 'map-page' %}" class="link-button">See All Offices on Map</a>
            <div class="list-container">
                {% for dentistsoffice in dentistsoffices %}
                <div class="dentistsoffice-card">
                    <img src="{% static 'images/vintage_decorative_corner_pattern.png' %}" alt="corner" class="corner-left">
                    <div class="book-now-wrapper">
                        <a href="{% url 'step1-select-dentistsoffice' slug=dentistsoffice.slug %}" class="book-now-link">
                            <img src="{% static 'images/book_now_stamp_2.png' %}" alt="book-now" class="book-now">
                        </a>
                    </div>
                    <div class="dentistsoffice-info">

                        <h3>{{ dentistsoffice.name }}</h3>
                        <div class="card-rating">
                            {% if dentistsoffice.avg_rating %}
                                {% if dentistsoffice.avg_rating >= 1 and dentistsoffice.avg_rating < 1.5 %}
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                {% elif dentistsoffice.avg_rating >= 1.5 and dentistsoffice.avg_rating < 2 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                {% elif dentistsoffice.avg_rating >= 2 and dentistsoffice.avg_rating < 2.5 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                {% elif dentistsoffice.avg_rating >= 2.5 and dentistsoffice.avg_rating < 3 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                {% elif dentistsoffice.avg_rating >= 3 and dentistsoffice.avg_rating < 3.5 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                {% elif dentistsoffice.avg_rating >= 3.5 and dentistsoffice.avg_rating < 4 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <i class="far fa-star"></i>
                                {% elif dentistsoffice.avg_rating >= 4 and dentistsoffice.avg_rating < 4.5 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                {% elif dentistsoffice.avg_rating >= 4.5 and dentistsoffice.avg_rating < 5 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                {% elif dentistsoffice.avg_rating == 5 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                {% endif %}
                                <a href="{% url 'dentistsoffice-reviews-list' slug=dentistsoffice.slug %}">{{ dentistsoffice.avg_rating|floatformat:1 }} ({{ dentistsoffice.reviews_count }}
                                {% if dentistsoffice.reviews_count == 1 %}
                                    review)
                                {% else %}
                                    reviews)
                                {% endif %}</a>
                            {% else %}
                                <p>No reviews yet.</p>
                            {% endif %}
                        </div>
                        <div>
                            <p>{{ dentistsoffice.address }}</p>
                            <p>{{ dentistsoffice.city }}</p>
                            <p><a href="{% url 'dentistsoffice-details' slug=dentistsoffice.slug %}" class="link-button">Details</a></p>
                        </div>
                    </div>
                    <div class="dentistsoffice-profile-picture">
                        {% if dentistsoffice.dentistsoffice_picture %}
                            <img src="{{ dentistsoffice.dentistsoffice_picture.url }}" class="profile-picture-card" alt="dentistsoffice-profile_picture">
                        {% else %}
                            <img src="{% static 'images/dentistsoffice-default-profile-picture.jpg' %}" alt="dentist_default_profile_picture" class="profile-picture-card">
                        {% endif %}
                    </div>
                    <img src="{% static 'images/vintage_decorative_corner_pattern.png' %}" alt="corner" class="corner-right">
                </div>
            {% endfor %}
            </div>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
        <img src="{% static 'images/website_photos/white-wall.jpg' %}" alt="white-wall" class="white-wall-picture">
    </div>
{% endblock %}