{% extends 'base.html' %}
{% load static %}
{% load dentistsoffice_custom_filters %}

{% block title %}
DentistHub Edit Office Working Hours Page
{% endblock %}

{% block content %}

    <div class="wall-picture-container">
        <div class="main-form-container">
            <div class="form-container">
                <h1>Edit Office Working Hours</h1>
                <h2>{{ object.day|weekday_name }}</h2>
                <form action="{% url 'edit-working-hours' slug=object.dentistsoffice.slug pk=object.pk %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-buttons">
                        <button>Edit Working Hours</button>
                        <button type="button"><a href="{% url 'dentistsoffice-details' slug=object.dentistsoffice.slug %}">Cancel</a></button>
                    </div>
                </form>
            </div>
        </div>
        <img src="{% static 'images/website_photos/white-wall.jpg' %}" alt="white-wall" class="white-wall-picture">
    </div>
{% endblock %}