{% extends 'base.html' %}
{% load static %}

{% block title %}
    DentistHub Add Photo Page
{% endblock %}

{% block content %}

    <div class="wall-picture-container">
        <div class="main-form-container">
            <div class="form-container">
                <h1>Add Photo</h1>
                <form action="{% url 'create-picture' slug=dentistsoffice.slug %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-buttons">
                        <button>Add Photo</button>
                        <button type="button"><a href="{% url 'dentistsoffice-details' slug=dentistsoffice.slug %}">Cancel</a></button>
                    </div>
                </form>
            </div>
        </div>
        <img src="{% static 'images/website_photos/white-wall.jpg' %}" alt="white-wall" class="white-wall-picture">
    </div>
{% endblock %}