{% extends 'base.html' %}
{% load static %}

{% block title %}
    DentistHub Edit Service Page
{% endblock %}

{% block content %}
    <div class="wall-picture-container">
        <div class="main-form-container">
            <div class="form-container">

                <h1>Edit Service Page</h1>
                <form action="{% url 'edit-service' slug=object.dentistsoffice.slug pk=object.pk %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-buttons">
                        <button>Edit Service</button>
                        <button type="button"><a href="{% url 'service-details' slug=object.dentistsoffice.slug pk=object.pk %}">Cancel</a></button>
                    </div>
                </form>
            </div>
        </div>
        <img src="{% static 'images/website_photos/white-wall.jpg' %}" alt="white-wall" class="white-wall-picture">
    </div>

{% endblock %}