{% extends 'base.html' %}
{% load static %}
{% block title %}
DentistHub Edit Client Page
{% endblock %}

{% block content %}
    <div class="wall-picture-container">
        <div class="main-form-container">
            <div class="form-container edit-profile-form-container">
                <h1>Edit Client Profile</h1>
                <h2>{{ object.user }}</h2>
                <form action="{% url 'edit-client' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-buttons">
                        <button>Edit Profile</button>
                        <button type="button"><a href="{% url 'client-details' %}">Cancel</a></button>
                    </div>
                </form>
            </div>
        </div>
        <img src="{% static 'images/website_photos/white-wall.jpg' %}" alt="white-wall" class="white-wall-picture">
    </div>

{% endblock %}