{% extends 'base.html' %}

{% block title %}
    DentistHub Delete Reservation
{% endblock %}

{% block content %}
    <h1>Delete Reservation</h1>
    <p>Are you sure you want to delete the reservation for {{ reservation.user }} at {{ reservation.dentistsoffice }} on {{ reservation.date }} at {{ reservation.time }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm Delete</button>
        <a href="{% url 'reservation-list' pk=reservation.user %}" class="link-button">Cancel</a>
    </form>

<script>
function showDeleteConfirmation(reservationId) {
    const confirmed = confirm("Are you sure you want to delete this reservation?");
    if (confirmed) {
        const form = document.getElementById("delete-form-" + reservationId);
        form.submit();
    }
}
</script>
{% endblock %}