{% extends 'base.html' %}
{% load static %}

{% block title %}
    DentistHub Reservation Select Office Page
{% endblock %}

{% block content %}
    <div class="wall-picture-container">
        <div class="main-form-container">
            <div class="reservation-form-container">
                <h1>Step 1: Select Office</h1>
                <div class="reservation-form-wrapper">
                    <div class="reservation-left-side">
                        <img src="{% static 'images/dentistsoffice-chair.jpg' %}" alt="chair">
                    </div>
                    <div class="reservation-right-side">
                        <div>
                            <p><b>Client username:</b> {{ user.username }}</p>
                            <p><b>dentistsoffice:</b> {{ dentistsoffice.name }}</p>
                        </div>

                        <div class="reservation-form-buttons">
                            <button><a href="{% url 'dentistsoffice-details' slug=dentistsoffice.slug %}" class="link-button">< Back</a></button>
                            <button><a href="{% url 'step2-select-dentistsoffice-service' %}" class="link-button">Next ></a></button>
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <img src="{% static 'images/website_photos/white-wall.jpg' %}" alt="white-wall" class="white-wall-picture">
    </div>
{% endblock %}
