{% extends 'base.html' %}
{% load static %}

{% block title %}
    DentistHub Edit Review for {{ object.dentistsoffice.name }}
{% endblock %}

{% block content %}
    <div class="wall-picture-container">
        <div class="main-form-container">
        <div class="form-container">
            <h1>Edit Review for {{ object.dentistsoffice.name }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-buttons">
                    <button>Update Review</button>
                    <button type="button"><a href="{% url 'client-reviews-list' pk=object.user.pk %}" class="link-button">Cancel</a></button>
                </div>
            </form>
        </div>
    </div>
        <img src="{% static 'images/website_photos/white-wall.jpg' %}" alt="white-wall" class="white-wall-picture">
    </div>
{% endblock %}