{% extends 'base.html' %}
{% load static %}

{% block title %}
    DentistHub Delete Dentist Page
{% endblock %}

{% block content %}
    <div class="wall-picture-container">
        <div class="main-container">
            <h1>Delete Dentist</h1>
            <h2>Are you sure you want to delete this dentist?</h2>
            <form method="post">
                {% csrf_token %}
                <div class="delete-form-buttons">
                    <button>Delete</button>
                    <button type="button"><a href="{% url 'dentist-details' pk=object.pk %}">Cancel</a></button>
                </div>
            </form>
        </div>
        <img src="{% static 'images/website_photos/white-wall.jpg' %}" alt="white-wall" class="white-wall-picture">
    </div>
{% endblock %}