{% extends 'base.html' %}
{% load static %}

{% block title %}
    DentistHub Dentist Details Page
{% endblock %}

{% block content %}
    <div class="wall-picture-container">
        <div class="main-container">
            <h1>Dentist Details</h1>
            <a href="{% url 'dentistsoffice-details' slug=dentist.dentistsoffice.slug %}" class="link-button">Back to Profile</a><br><br>
            {% if object.dentist_picture %}
                <img src="{{ object.dentist_picture.url }}" class="profile-picture" alt="dentist-profile_picture">
            {% else %}
                <img src="{% static 'images/dentist-default-profile-picture.jpg' %}" alt="dentist_default_profile_picture" class="profile-picture">
            {% endif %}
            <ul>
                <li><b>Name:</b> {{ object.name }}</li>
                <li><b>About:</b>" {{ object.about }} "</li>
                <li><b>dentistsoffice:</b> {{ object.dentistsoffice.name }}</li>
            </ul>

            {% if object.dentistsoffice.pk == request.user.pk %}
                <button><a href="{% url 'edit-dentist' pk=object.pk %}" class="link-button">Edit Dentist</a></button>
                <button><a href="{% url 'delete-dentist' pk=object.pk %}" class="link-button">Delete Dentist</a></button>
            {% endif %}
        </div>
        <img src="{% static 'images/website_photos/white-wall.jpg' %}" alt="white-wall" class="white-wall-picture">
    </div>
{% endblock %}