{% extends 'base.html' %}
{% load static %}
{% block title %}
    Dentistbook 404 Page
{% endblock %}

{% block content %}
    <div class="wall-picture-container">
        <div class="main-container">
            <button><a href="{% url 'home-page' %}">Back to Home</a></button>
            <h1>Oops, no such page found</h1>
            <img src="{% static 'images/website_photos/eugene-chystiakov-taZSJ6xmt48-unsplash.jpg'%}" alt="404" class="oops-picture">
        </div>
        <img src="{% static 'images/website_photos/white-wall.jpg' %}" alt="white-wall" class="white-wall-picture">
    </div>
{% endblock %}