<div class="main-footer-container">

    <nav class="footer-nav-links">
        <ul role="list">
            <li class="nav-item"><a href="{% url 'about-page' %}">About</a></li>
            <li class="nav-item"><a href="https://github.com/sh4dowpunk/DentistHub" target=”_blank”>GitHub Project Repo</a></li>
            <li class="nav-item social-media">
                <a href="https://github.com/sh4dowpunk" target=”_blank”><i class="fab fa-github"></i></a>
                
                <a href="https://www.linkedin.com/in/shadowpunk/" target=”_blank”><i class="fab fa-linkedin"></i></a>
            </li>
        </ul>
    </nav>
</div>

<div class="footer">
    <p class="footer-section">© 2024 Alex Yunsyu  "Python Web Project Defense -<a href="{% url 'home-page' %}">DentistHub"</a></p>
</div>