{% load custom_filters %}
{% load static %}

<div class="home-logo">

    <a href="{% url 'home-page' %}">
        <img src="{% static 'images/dentistsoffice-pole.jpg' %}" alt="dentistsoffice-pole">
        <span>DentistHub</span>
        <img src="{% static 'images/dentistsoffice-pole.jpg' %}" alt="dentistsoffice-pole">
    </a>
</div>
<div class="search-field">
    <span><i class="fas fa-search"></i></span>
    <input type="text" id="search-input" placeholder="Search...">
    <div id="search-results"></div>
</div>
<nav class="header-nav-links">
    <ul role="list">
        {% if not request.user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'register-page' %}">Register</a></li>
            <li class="nav-item"><a href="{% url 'login-page' %}">Login</a></li>
        {% else %}
            <li class="nav-item"><a href="{% url 'logout-page' %}">Logout</a></li>
            {% if request.user|get_role == 'Client' %}
                <li class="nav-item nav-profile">
                    <a href="{% url 'client-details' %}">Hello, {{ request.user }}</a>
                    <a href="{% url 'client-details' %}">
                        {% if request.user.clientprofile.profile_picture %}
                            <img src="{{ request.user.clientprofile.profile_picture.url }}" alt="profile-picture-thumbnail" class="profile-picture-thumbnail">
                        {% else %}
                            <img src="{% static 'images/client-default-profile-picture.jpg' %}" alt="default_profile_picture" class="profile-picture-thumbnail">
                        {% endif %}
                    </a>
                </li>
            {% else %}
                <li class="nav-item nav-profile">
                    <a href="{% url 'dentistsoffice-details' slug=request.user.dentistsofficeprofile.slug %}">Hello, {{ request.user }}</a>
                    <a href="{% url 'dentistsoffice-details' slug=request.user.dentistsofficeprofile.slug %}">
                        {% if request.user.dentistsofficeprofile.dentistsoffice_picture %}
                            <img src="{{ request.user.dentistsofficeprofile.dentistsoffice_picture.url }}" alt="dentistsoffice-profile-picture-thumbnail" class="profile-picture-thumbnail">
                        {% else %}
                            <img src="{% static 'images/dentistsoffice-default-profile-picture.jpg' %}" alt="dentistsoffice-default_profile_picture" class="profile-picture-thumbnail">
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>

    <div class="success-message {% for message in messages %}{% if message.tags == 'success' %}active{% endif %}{% endfor %}">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                {{ message }}
            {% endif %}
        {% endfor %}
    </div>


<script>
    const successMessage = document.querySelector('.success-message');
    if (successMessage) {
        setTimeout(() => {
            successMessage.innerHTML = "";
            successMessage.classList.remove('active');
        }, 3000);
    }
</script>

<script>
    const searchInput = document.getElementById('search-input');
    const searchResults = document.getElementById('search-results');

    searchInput.addEventListener('input', () => {
        const query = searchInput.value;
        const resultCount = document.createElement('div');
        resultCount.classList.add('matches');
        resultCount.innerHTML = '';
        let counter = 0;
        if (query.length >= 2) {
            fetch(`/search/?q=${query}`)
                .then(response => response.json())
                .then(data => {
                    searchResults.innerHTML = '';

                    data.forEach(result => {
                        const resultItem = document.createElement('div');

                        const link = document.createElement('a');
                        link.href = `/dentistsoffice/${result.slug}/profile/`;
                        link.textContent = `${result.name} - ${result.city}, ${result.address}`;
                        resultItem.appendChild(link);
                        counter++;
                        searchResults.appendChild(resultItem);
                    });

                    const resultCountParagraph = document.createElement('p');
                    if (counter === 1) {
                        resultCountParagraph.textContent = `${counter} match found`;
                    } else {
                        resultCountParagraph.textContent = `${counter} matches found`;
                    }
                    resultCount.appendChild(resultCountParagraph);
                    searchResults.appendChild(resultCount)

                })
                .catch(error => console.error('Error fetching search results:', error));

        } else {
            searchResults.innerHTML = '';
        }
    });
</script>

