{% extends 'base.html' %}
{% load static %}
{% block title %}
    DentistHub Logout Page
{% endblock %}

{% block content %}
        <div class="wall-picture-container">
        <div class="main-container">
        <div class="logout-wrapper">
            <h1>{{ request.user }}</h1>
            <h2>Are you sure you want to log out?</h2>
            <div class="logout-form-buttons">
                <button><a href="?confirm" class="link-button">Confirm Logout</a></button>
                <button><a href="javascript:history.go(-1);">Cancel</a></button>
            </div>

        </div>
    </div>
        <img src="{% static 'images/website_photos/white-wall.jpg' %}" alt="white-wall" class="white-wall-picture">
    </div>
{% endblock %}