{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    DentistBook Home Page
{% endblock %}

{% block content %}

    <div class="cover-picture-container">
        {% if not request.user.is_authenticated %}
            <h1>Welcome to DentistHub</h1>
            <h2>Book Your Dentist Appointment Today!</h2>
        {% else %}
            <h1>Welcome back, {{ request.user }}</h1>
            {% if request.user|get_role == 'Client' %}
                <h2>{{ client_message }}</h2>
            {% else %}
                <h2>{{ dentistsoffice_message }}</h2>
                <a href="{% url 'reservation-list' pk=request.user.pk %}" class="check-out">Check your reservations</a>
            {% endif %}
        {% endif %}
        {% if not request.user.is_authenticated or request.user|get_role == 'Client' %}
            <a href="{% url 'dentistsoffice-list' %}" class="check-out">Check out our Offices</a>
        {% endif %}
        <img src="{% static 'images/website_photos/nathon-oski-EW_rqoSdDes-unsplash.jpg' %}" alt="cover" class="home-cover-picture">


    </div>

    <div class="intro-container">
        <h3>Looking for a dental services? We've Got You Covered!</h3>
        <div>
            <span>Choose from <b>{{ dentistsoffices_count }}</b> Offices</span>
            <span>Book your appointment online in just few clicks</span>
            <span><b>{{ reservations_count }}</b> booked appointments with us</span>
        </div>
    </div>



{% endblock %}