{% extends 'base.html' %}
{% load static %}

{% block title %}
   DentistlHub Offices Map
{% endblock %}

{% block content %}

<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
<!-- Leaflet JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>

    <div class="wall-picture-container">

        <div class="main-dentistsoffice-list-container">
            <h1>Offices Map</h1>
            <a href="{% url 'dentistsoffice-list' %}" class="link-button">Back to offices List</a>
            <div id="map" style="width: 80%;  height:600px;  margin-top: 1rem"></div>
        </div>
        <img src="{% static 'images/website_photos/white-wall.jpg' %}" alt="white-wall" class="white-wall-picture">
    </div>

    <script>
        let map = L.map('map', {scrollWheelZoom: false}).setView([42.69615032408835, 23.32177127341931], 13);
        let bounds = new L.LatLngBounds();

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 50,
        }).addTo(map);

        map.on('click', function() {
            if (map.scrollWheelZoom.enabled()) {
                map.scrollWheelZoom.disable();
            } else {
                map.scrollWheelZoom.enable();
            }
        });
        let lat
        let lon
        let name
        let customIcon
        let marker
        let popupContent
        let anchorElement

        {% for dentistsoffice in dentistsoffices %}
            {% if dentistsoffice.geolocation_latitude and dentistsoffice.geolocation_longitude %}
                lat = {{ dentistsoffice.geolocation_latitude }};
                lon = {{ dentistsoffice.geolocation_longitude }};
                customIcon = L.icon({
                    iconUrl: "{% static 'images/point_dentistsoffice_logo.png' %}",
                    iconSize: [80, 80], // Set the size of the icon image
                    iconAnchor: [20, 32], // Set the position of the icon's anchor point
                    popupAnchor: [20, -16], // Set the position of the popup relative to the icon
                });
                popupContent = `
                <a href="{% url 'dentistsoffice-details' slug=dentistsoffice.slug %}">
                    <b>{{ dentistsoffice.name }}</b>
                    <br>{{ dentistsoffice.address }}
                    <br>
                    <div class="popup-rating">
                        {% if dentistsoffice.avg_rating %}
                            {% if dentistsoffice.avg_rating >= 1 and dentistsoffice.avg_rating < 1.5 %}
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            {% elif dentistsoffice.avg_rating >= 1.5 and dentistsoffice.avg_rating < 2 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            {% elif dentistsoffice.avg_rating >= 2 and dentistsoffice.avg_rating < 2.5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            {% elif dentistsoffice.avg_rating >= 2.5 and dentistsoffice.avg_rating < 3 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            {% elif dentistsoffice.avg_rating >= 3 and dentistsoffice.avg_rating < 3.5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            {% elif dentistsoffice.avg_rating >= 3.5 and dentistsoffice.avg_rating < 4 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                            {% elif dentistsoffice.avg_rating >= 4 and dentistsoffice.avg_rating < 4.5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            {% elif dentistsoffice.avg_rating >= 4.5 and dentistsoffice.avg_rating < 5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            {% elif dentistsoffice.avg_rating == 5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            {% endif %}
                            <a href="{% url 'dentistsoffice-reviews-list' slug=dentistsoffice.slug %}">{{ dentistsoffice.avg_rating|floatformat:1 }} ({{ dentistsoffice.reviews_count }}
                            {% if dentistsoffice.reviews_count == 1 %}
                                review)
                            {% else %}
                                reviews)
                            {% endif %}</a>
                        {% else %}
                            <p>No reviews yet.</p>
                        {% endif %}
                    </div>

                </a>`;
                marker = L.marker([lat, lon], { icon: customIcon }).addTo(map);
                marker.bindPopup(popupContent);
                bounds.extend([lat, lon]);
            {% endif %}
        {% endfor %}
        map.fitBounds(bounds);
    </script>
{% endblock %}
